<a href="https://colab.research.google.com/github/manjimams-2000/Manjimams2000/blob/main/data_acquisition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [7]:

file_path = '/content/Crime_Data_from_2020_to_Present.csv'
df = pd.read_csv(file_path)

# Display the first few rows
print(df.head())

# Print summary statistics
print(df.describe())

       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0  190326475  03/01/2020 12:00:00 AM  03/01/2020 12:00:00 AM      2130     7
1  200106753  02/09/2020 12:00:00 AM  02/08/2020 12:00:00 AM      1800     1
2  200320258  11/11/2020 12:00:00 AM  11/04/2020 12:00:00 AM      1700     3
3  200907217  05/10/2023 12:00:00 AM  03/10/2020 12:00:00 AM      2037     9
4  220614831  08/18/2022 12:00:00 AM  08/17/2020 12:00:00 AM      1200     6

   AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0   Wilshire          784         1     510
1    Central          182         1     330
2  Southwest          356         1     480
3   Van Nuys          964         1     343
4  Hollywood          666         2     354

                                Crm Cd Desc  ... Status   Status Desc  \
0                          VEHICLE - STOLEN  ...     AA  Adult Arrest
1                     BURGLARY FROM VEHICLE  ...     IC   Invest Cont
2                             BIKE - STOLEN  ...     IC   Invest Cont
3  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)  ...     IC   Invest Cont
4                         THEFT OF IDENTITY  ...     IC   Invest Cont

  Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
0    510.0    998.0       NaN      NaN
1    330.0    998.0       NaN      NaN
2    480.0      NaN       NaN      NaN
3    343.0      NaN       NaN      NaN
4    354.0      NaN       NaN      NaN

                                   LOCATION Cross Street      LAT       LON
0   1900 S  LONGWOOD                     AV          NaN  34.0375 -118.3506
1   1000 S  FLOWER                       ST          NaN  34.0444 -118.2628
2   1400 W  37TH                         ST          NaN  34.0210 -118.3002
3  14000    RIVERSIDE                    DR          NaN  34.1576 -118.4387
4                         1900    TRANSIENT          NaN  34.0944 -118.3277

[5 rows x 28 columns]
              DR_NO       TIME OCC           AREA    Rpt Dist No  \
count  3.764680e+05  376468.000000  376468.000000  376468.000000
mean   2.062848e+08    1347.911745      10.807288    1126.956836
std    5.721367e+06     650.663043       6.050186     605.129025
min    8.170000e+02       1.000000       1.000000     101.000000
25%    2.011102e+08     914.750000       6.000000     632.000000
50%    2.021116e+08    1430.000000      11.000000    1148.000000
75%    2.111148e+08    1900.000000      16.000000    1622.000000
max    2.421098e+08    2359.000000      21.000000    2199.000000

            Part 1-2         Crm Cd       Vict Age      Premis Cd  \
count  376468.000000  376468.000000  376468.000000  376465.000000
mean        1.415273     506.717161      30.065421     298.502761
std         0.492770     209.899101      21.700756     214.435522
min         1.000000     110.000000      -4.000000     101.000000
25%         1.000000     330.000000      12.000000     101.000000
50%         1.000000     480.000000      31.000000     203.000000
75%         2.000000     626.000000      45.000000     501.000000
max         2.000000     956.000000     120.000000     974.000000

       Weapon Used Cd       Crm Cd 1      Crm Cd 2     Crm Cd 3    Crm Cd 4  \
count   135247.000000  376463.000000  30061.000000  1020.000000   35.000000
mean       362.302432     506.443799    953.097934   980.675490  988.514286
std        123.144999     209.688606    117.725082    57.675479   34.534187
min        101.000000     110.000000    210.000000   434.000000  821.000000
25%        308.000000     330.000000    998.000000   998.000000  998.000000
50%        400.000000     480.000000    998.000000   998.000000  998.000000
75%        400.000000     626.000000    998.000000   998.000000  998.000000
max        516.000000     956.000000    999.000000   999.000000  999.000000

                 LAT            LON
count  376467.000000  376467.000000
mean       33.888549    -117.713229
std         2.504543       8.691513
min         0.000000    -118.667600
25%        34.010200    -118.430700
50%        34.058200    -118.322500
75%        34.164300    -118.274200
max        34.333000       0.000000

In [12]:
# Print the size of the dataset
print(f"Number of rows: {df.shape[0]}")
print(f"Number of columns: {df.shape[1]}")

Number of rows: 376468
Number of columns: 28

In [13]:
# Print data types of each column
print(df.dtypes)

DR_NO               int64
Date Rptd          object
DATE OCC           object
TIME OCC            int64
AREA                int64
AREA NAME          object
Rpt Dist No         int64
Part 1-2            int64
Crm Cd              int64
Crm Cd Desc        object
Mocodes            object
Vict Age            int64
Vict Sex           object
Vict Descent       object
Premis Cd         float64
Premis Desc        object
Weapon Used Cd    float64
Weapon Desc        object
Status             object
Status Desc        object
Crm Cd 1          float64
Crm Cd 2          float64
Crm Cd 3          float64
Crm Cd 4          float64
LOCATION           object
Cross Street       object
LAT               float64
LON               float64
dtype: object

In [14]:

# Check for missing values
missing_values = df.isnull().sum()

In [15]:

# Print columns with missing values and their counts
if missing_values.sum() == 0:
    print("No missing values found in the dataset.")
else:
    print("Columns with missing values:")
    for col, num_missing in missing_values.items():
        if num_missing > 0:
            print(f"{col}: {num_missing} missing values")

Columns with missing values:
Mocodes: 51768 missing values
Vict Sex: 49362 missing values
Vict Descent: 49367 missing values
Premis Cd: 3 missing values
Premis Desc: 147 missing values
Weapon Used Cd: 241221 missing values
Weapon Desc: 241221 missing values
Crm Cd 1: 5 missing values
Crm Cd 2: 346407 missing values
Crm Cd 3: 375448 missing values
Crm Cd 4: 376433 missing values
LOCATION: 1 missing values
Cross Street: 310867 missing values
LAT: 1 missing values
LON: 1 missing values

In [25]:
print("Column Names:")
print(df.columns)

Column Names:
Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

In [26]:
numerical_column = 'actual_column_name'

In [27]:
if numerical_column in df.columns:
    mean_value = df[numerical_column].mean()
    median_value = df[numerical_column].median()
    std_deviation = df[numerical_column].std()

In [38]:
numerical_column = 'actual_column_name'

In [46]:
print("Column Names and Data Types:")
print(df.dtypes)

Column Names and Data Types:
DR_NO               int64
Date Rptd          object
DATE OCC           object
TIME OCC            int64
AREA                int64
AREA NAME          object
Rpt Dist No         int64
Part 1-2            int64
Crm Cd              int64
Crm Cd Desc        object
Mocodes            object
Vict Age            int64
Vict Sex           object
Vict Descent       object
Premis Cd         float64
Premis Desc        object
Weapon Used Cd    float64
Weapon Desc        object
Status             object
Status Desc        object
Crm Cd 1          float64
Crm Cd 2          float64
Crm Cd 3          float64
Crm Cd 4          float64
LOCATION           object
Cross Street       object
LAT               float64
LON               float64
dtype: object

In [47]:
numerical_columns = ['numerical_column1', 'numerical_column2', 'numerical_column3']

In [50]:
import seaborn as sns
import matplotlib.pyplot as plt

In [55]:



print("Column Names and Data Types:")
print(df.dtypes)

Column Names and Data Types:
DR_NO               int64
Date Rptd          object
DATE OCC           object
TIME OCC            int64
AREA                int64
AREA NAME          object
Rpt Dist No         int64
Part 1-2            int64
Crm Cd              int64
Crm Cd Desc        object
Mocodes            object
Vict Age            int64
Vict Sex           object
Vict Descent       object
Premis Cd         float64
Premis Desc        object
Weapon Used Cd    float64
Weapon Desc        object
Status             object
Status Desc        object
Crm Cd 1          float64
Crm Cd 2          float64
Crm Cd 3          float64
Crm Cd 4          float64
LOCATION           object
Cross Street       object
LAT               float64
LON               float64
dtype: object

In [56]:
categorical_column = 'categorical_column'
numerical_column = 'numerical_column'