<a href="https://colab.research.google.com/github/manjimams-2000/Manjimams2000/blob/main/Pandas_Tasks_adult_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

read the data

Display the first 5 rows of the dataset.

summary of the DataFrame

descriptive statistics for numeric columns

Display the column names of the DataFrame.

unique values in the 'workclass' column.

Create a new column 'income_binary' where <=50K is 0 and >50K is 1.

Create a new column 'age_group' categorizing ages into 'Youth' (< 30), 'Adult' (30-60), and 'Senior' (60+).

Rename the 'educational-num' column to 'education_num'.

Replace the missing values represented by '?' in 'workclass' and 'occupation' columns with 'Unknown'.

In [ ]:
Calculate the average age for each workclass.

Find the total capital-gain for each gender.

Get the count of each marital-status category.

Find the mean hours-per-week worked by individuals in different education levels.

Calculate the mean, median, and standard deviation of 'fnlwgt' for each race.

Get the unique values and their counts for the 'native-country' column

Filter the dataset to include only individuals with income >50K.

Sort the dataset by age in descending order.

Filter the dataset to include only individuals who work more than 40 hours per week.

In [ ]:
Calculate the percentage of missing values in each column.

Calculate the median income by education level and gender.

Find the top 3 occupations with the highest average capital-gain.

Filter the dataset to include individuals who are 'Married-civ-spouse' and have an income >50K.