<a href="https://colab.research.google.com/github/manjimams-2000/Manjimams2000/blob/main/Preprocessing_on_Loan_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Load the dataset
file_path = '/content/train_loan_preprocess.csv'
df = pd.read_csv(file_path)

In [3]:
df.head(), df.info(), df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

(    Loan_ID Gender Married Dependents     Education Self_Employed  \
 0  LP001002   Male      No          0      Graduate            No
 1  LP001003   Male     Yes          1      Graduate            No
 2  LP001005   Male     Yes          0      Graduate           Yes
 3  LP001006   Male     Yes          0  Not Graduate            No
 4  LP001008   Male      No          0      Graduate            No

    ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
 0             5849                0.0         NaN             360.0
 1             4583             1508.0       128.0             360.0
 2             3000                0.0        66.0             360.0
 3             2583             2358.0       120.0             360.0
 4             6000                0.0       141.0             360.0

    Credit_History Property_Area Loan_Status
 0             1.0         Urban           Y
 1             1.0         Rural           N
 2             1.0         Urban           Y
 3             1.0         Urban           Y
 4             1.0         Urban           Y  ,
 None,
        ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
 count       614.000000         614.000000  592.000000         600.00000
 mean       5403.459283        1621.245798  146.412162         342.00000
 std        6109.041673        2926.248369   85.587325          65.12041
 min         150.000000           0.000000    9.000000          12.00000
 25%        2877.500000           0.000000  100.000000         360.00000
 50%        3812.500000        1188.500000  128.000000         360.00000
 75%        5795.000000        2297.250000  168.000000         360.00000
 max       81000.000000       41667.000000  700.000000         480.00000

        Credit_History
 count      564.000000
 mean         0.842199
 std          0.364878
 min          0.000000
 25%          1.000000
 50%          1.000000
 75%          1.000000
 max          1.000000  )

In [4]:
import pandas as pd
from sklearn.impute import SimpleImputer

In [5]:
df = pd.read_csv('/content/train_loan_preprocess.csv')

In [6]:
X = df.drop(columns=['Loan_ID', 'Loan_Status'])
y = df['Loan_Status']

In [7]:
categorical_cols = X.select_dtypes(include=['object']).columns
numerical_cols = X.select_dtypes(include=['int64', 'float64']).columns

In [8]:
categorical_imputer = SimpleImputer(strategy='most_frequent')
X[categorical_cols] = categorical_imputer.fit_transform(X[categorical_cols])

In [9]:
numerical_imputer = SimpleImputer(strategy='median')
X[numerical_cols] = numerical_imputer.fit_transform(X[numerical_cols])

In [10]:
X.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('/content/train_loan_preprocess.csv')

In [13]:
X = df.drop(columns=['Loan_ID', 'Loan_Status'])
y = df['Loan_Status']

In [14]:
numerical_cols = X.select_dtypes(include=['int64', 'float64']).columns

In [15]:
def detect_outliers(df, cols):
    outliers_dict = {}
    for col in cols:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
        outliers_dict[col] = outliers.index
    return outliers_dict

In [16]:
outliers_dict = detect_outliers(X, numerical_cols)

In [21]:
X.shape, y.shape

((539, 11), (539,))

In [22]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [23]:
df = pd.read_csv('/content/train_loan_preprocess.csv')

In [24]:
X = df.drop(columns=['Loan_ID', 'Loan_Status'])
y = df['Loan_Status']

In [25]:
categorical_cols = X.select_dtypes(include=['object']).columns

In [26]:
categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

In [27]:
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, categorical_cols)
    ])

In [28]:
X_encoded = preprocessor.fit_transform(X)

In [29]:
y_encoded = y.map({'Y': 1, 'N': 0})

In [30]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [31]:
df = pd.read_csv('/content/train_loan_preprocess.csv')

In [32]:
X = df.drop(columns=['Loan_ID', 'Loan_Status'])
y = df['Loan_Status']

In [33]:
numerical_cols = X.select_dtypes(include=['int64', 'float64']).columns

In [34]:
numerical_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())
])

In [35]:
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols)
    ])

In [36]:
X_scaled = preprocessor.fit_transform(X)

In [37]:
y_encoded = y.map({'Y': 1, 'N': 0})