<a href="https://colab.research.google.com/github/manjimams-2000/Manjimams2000/blob/main/python_assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to accept a string value from the user and display
the count of each character in that string. Sample input: Enter a string
value: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1

In [1]:
def count_characters(s):
    # Create an empty dictionary to store character counts
    char_count = {}

    # Iterate over each character in the string
    for char in s:
        # If the character is already in the dictionary, increment its count
        if char in char_count:
            char_count[char] += 1
        # Otherwise, add the character to the dictionary with a count of 1
        else:
            char_count[char] = 1

    # Create a string to display the counts
    result = ', '.join([f"{char}={count}" for char, count in char_count.items()])

    return result

# Accept a string value from the user
input_string = input("Enter a string value: ")

# Get the count of each character in the string
output = count_characters(input_string)

# Display the result
print(output)
2
3

Enter a string value: 1
1=1

2. . Write a Python function to find the maximum of three numbers Sample
input: 34,12,7 Sample output: 3

In [2]:
def find_max_of_three(a, b, c):
    return max(a, b, c)

# Sample input
num1 = 34
num2 = 12
num3 = 7

# Sample output
print(find_max_of_three(num1, num2, num3))

34

Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp. Sample input: Enter the
base: 2 Enter the exponent: 3 Sample output: 8

In [3]:
def exponent(base, exp):
    return base ** exp

# Sample usage
base = int(input("Enter the base: "))
exp = int(input("Enter the exponent: "))
result = exponent(base, exp)
print(result)

Enter the base: 3
Enter the exponent: 4
81

4.Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36.

In [4]:
def sum_of_cubes(n):
    if n <= 1:
        return 0
    return sum(i**3 for i in range(1, n))

# Sample input and output
print(sum_of_cubes(4))  # Output: 36

36

5.Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.
Sample input: numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz
Fizz 7 Fizz 9 FizzBuzz

In [5]:
for i in range(1, 11):
    if i % 2 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 2 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

6.Write a Python program to find the most frequent item in a list of
numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2

In [6]:
from collections import Counter

def most_frequent_item(numbers):
    # Create a Counter object to count the frequency of each item
    count = Counter(numbers)

    # Find the item with the maximum frequency
    most_common_item = count.most_common(1)[0][0]

    return most_common_item

# Sample input
numbers = [2, 3, 4, 2, 5, 2]

# Find and print the most frequent item
print(most_frequent_item(numbers))

2

7.Write a Python program to find the sum of squares of the numbers in a
list. Sample input: 2,1,3,1 Sample output: 15

In [7]:
def sum_of_squares(numbers):
    return sum(x**2 for x in numbers)

# Sample input
numbers = [2, 1, 3, 1]
result = sum_of_squares(numbers)

print("Sum of squares:", result)

Sum of squares: 15

8.write a python program using for loop that will itreate from 1 to 15.for each itreation,check if the current number is odd or even,and display the message to the screen as odd or even. sample input:1.....15 sample output:1-odd 2-even.....15-odd

In [8]:
# Iterating from 1 to 15
for i in range(1, 16):
    # Checking if the number is odd or even
    if i % 2 == 0:
        print(f"{i}-even")
    else:
        print(f"{i}-odd")

1-odd
2-even
3-odd
4-even
5-odd
6-even
7-odd
8-even
9-odd
10-even
11-odd
12-even
13-odd
14-even
15-odd

9.write a python program to convert temperatures to and from celsius fahrenheit.[Formula:c/5=f-32/9 where c=temperature in celsius and f=temperature in fahrenheit.]sample input:temperature in fahrenheit=41sample output:temperature in celsius=5

In [9]:
def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5 / 9
    return celsius

def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9 / 5) + 32
    return fahrenheit

# Example usage:
if __name__ == "__main__":
    fahrenheit = 41
    celsius = fahrenheit_to_celsius(fahrenheit)
    print(f"Temperature in Fahrenheit: {fahrenheit}")
    print(f"Temperature in Celsius: {celsius}")

Temperature in Fahrenheit: 41
Temperature in Celsius: 5.0

10. write a python function to calculate the factorial of a number (a nonnegative integer).the function accepts the number as an arguments.sample input:3 sample output:6

In [10]:
def factorial(n):
    # Base case: factorial of 0 is 1
    if n == 0:
        return 1
    # Recursive case: factorial of n is n times factorial of (n-1)
    else:
        return n * factorial(n - 1)

# Example usage:
if __name__ == "__main__":
    number = 3
    result = factorial(number)
    print(f"The factorial of {number} is: {result}")

The factorial of 3 is: 6